@charset "UTF-8";
/*---------------------------
 ** CSS Reset
-----------------------------*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0; }

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth; }

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

a {
  list-style: none;
  text-decoration: none;
  color: inherit; }

/* Make images easier to work with */
img,
picture {
  display: block;
  max-width: 100%; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto; }
  *,
  *::before,
  *::after {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important; } }

:root {
  --color-white: #ffffff;
  --color-very-dark-blue: #202040;
  --color-box-shadow: 3px 4px 15px rgb(228, 228, 228);
  --color-attribution-grey: #c3c3c3;
  --font-heading: "Flamenco", cursive;
  --font-copy: "Josefin Sans", sans-serif; }

body {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-very-dark-blue); }

h1,
h2,
h3,
h4,
h5,
h6,
.navbar__item {
  font-family: var(--font-copy);
  font-weight: 300;
  color: var(--color-very-dark-blue); }

blockquote {
  font-family: var(--font-copy); }

.content__wrapper {
  width: 100%;
  max-width: 1500px; }

.section {
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 900px) {
    .section {
      padding: 3rem 1rem; } }

.section__heading {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem; }
  @media only screen and (min-width: 900px) {
    .section__heading {
      font-size: 2rem;
      letter-spacing: 0.3rem;
      margin: 4rem auto; } }

.section__sub-heading {
  font-family: var(--font-copy);
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.1rem;
  padding: 0 1.5rem; }
  @media only screen and (min-width: 900px) {
    .section__sub-heading {
      font-size: 1.3rem;
      padding: 0;
      max-width: 50ch; } }

.btn {
  display: inline-block;
  font-family: var(--font-copy);
  font-size: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  max-width: 10rem;
  border: 2px solid var(--color-very-dark-blue);
  padding: 0.5rem 1rem;
  background: transparent; }
  @media only screen and (min-width: 900px) {
    .btn {
      font-size: 0.75rem;
      padding: 1rem 2rem; } }

.btn:hover {
  background-color: var(--color-very-dark-blue);
  color: var(--color-white);
  transition: transform 200ms ease; }

.call-link,
.contact-link {
  text-decoration: underline; }

@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -10px; }
  100% {
    opacity: 1;
    margin-top: 0px; } }

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--color-white);
  padding: 0.5rem 2rem; }
  @media only screen and (min-width: 900px) {
    .navbar {
      padding: 1rem 3rem; } }

.logo {
  width: 3.5rem; }
  @media only screen and (min-width: 900px) {
    .logo {
      width: 5rem; } }

.navbar__modal {
  display: none; }

.navbar__modal.active {
  text-align: center;
  line-height: 3;
  font-size: 1.5rem;
  position: absolute;
  top: 3.2rem;
  right: 0;
  width: 100%;
  background-color: var(--color-white);
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  z-index: 5; }
  @media only screen and (min-width: 900px) {
    .navbar__modal.active {
      font-size: 2rem;
      padding: 1rem;
      top: 5rem;
      width: 100%; } }

.navbar__link {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  padding: 1rem; }

@media only screen and (min-width: 900px) {
  .navbar__item:hover {
    background-color: #ebebeb;
    width: 40%;
    margin: 0 auto; } }

.toggle-box {
  color: var(--color-very-dark-blue);
  background-color: transparent;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  float: right; }
  @media only screen and (min-width: 900px) {
    .toggle-box {
      width: 40px;
      height: 40px; } }

.menu-bar {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: var(--color-very-dark-blue);
  transition: transform 200ms ease; }
  @media only screen and (min-width: 900px) {
    .menu-bar {
      height: 4px; } }

.menu-bar::before,
.menu-bar::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: inherit;
  width: inherit;
  height: inherit;
  transition: top 200ms ease 0.12s, transform 200ms ease; }

.menu-bar::before {
  top: -6px; }
  @media only screen and (min-width: 900px) {
    .menu-bar::before {
      top: -8px; } }

.menu-bar::after {
  top: 6px; }
  @media only screen and (min-width: 900px) {
    .menu-bar::after {
      top: 8px; } }

.toggle-box.open .menu-bar {
  transform: rotate(45deg);
  transition: transform 200ms 0.12s ease; }

.toggle-box.open .menu-bar::before {
  top: 0;
  transition: top 200ms ease; }

.toggle-box.open .menu-bar::after {
  top: 0;
  transform: rotate(-90deg);
  transition: top 200ms ease, transform 200ms ease 0.12s; }

.hero {
  width: 100%;
  min-height: 100vh;
  background-image: url(/assets/dog_thinkingLG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: 0% 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem; }
  @media only screen and (min-width: 1200px) {
    .hero {
      padding: 5rem;
      background-position: 60% 50%;
      justify-content: flex-end; } }

.hero__content {
  text-align: left;
  color: var(--color-very-dark-blue); }
  @media only screen and (min-width: 1200px) {
    .hero__content {
      text-align: right;
      margin-bottom: 5rem;
      padding-left: 5rem; } }

.hero__heading {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-family: var(--font-copy);
  font-weight: 300;
  max-width: 19ch; }
  @media only screen and (min-width: 1200px) {
    .hero__heading {
      font-size: 3rem;
      letter-spacing: 0.4rem; } }

.hero__sub-heading {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-weight: 300;
  font-family: var(--font-copy); }
  @media only screen and (min-width: 1200px) {
    .hero__sub-heading {
      font-size: 1.875rem;
      margin-bottom: 4rem; } }

.testimonials__wrapper {
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media only screen and (min-width: 900px) {
    .testimonials__wrapper {
      margin-top: 3rem; } }

.testimonial__card {
  font-family: var(--font-copy);
  border-radius: 0.5rem;
  box-shadow: var(--color-box-shadow);
  max-width: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  margin: 5rem 1rem;
  background-image: url(/assets/paws.png);
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: top 1vh right 1vw; }

.testimonial__img {
  width: 7.25rem;
  border-radius: 50%;
  margin-top: -5.2rem; }

.testimonial__dog-name {
  font-family: var(--font-copy);
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 2rem 0 0; }

.testimonial__dog-breed {
  margin-top: 0.2rem;
  font-size: 0.875rem;
  color: #949494;
  margin-bottom: 2rem;
  text-transform: lowercase;
  letter-spacing: 0.05rem; }

.testimonial__quote {
  font-weight: 300;
  margin-bottom: 1rem; }

.testimonial__owner {
  font-weight: 300;
  justify-self: flex-end; }

@media only screen and (min-width: 900px) {
  .testimonial__img {
    width: 10rem;
    margin-top: -7rem; } }

.services__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: var(--font-copy);
  padding: 0 1.5rem; }
  @media only screen and (min-width: 900px) {
    .services__wrapper {
      padding: 0 4rem; } }

.services__inner--container {
  margin: 4rem auto 5rem; }
  @media only screen and (min-width: 900px) {
    .services__inner--container {
      margin-top: 2rem; } }

.services__card--container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center; }

.services__heading {
  font-size: 1.25rem; }
  @media only screen and (min-width: 900px) {
    .services__heading {
      font-size: 1.5rem; } }

.services__sub-heading {
  font-size: 1.5rem;
  padding: 0; }
  @media only screen and (min-width: 900px) {
    .services__sub-heading {
      font-size: 1.5rem;
      max-width: 40ch; } }

.services__terms {
  margin-top: 3rem;
  font-size: 1.25rem;
  font-weight: 300; }
  @media only screen and (min-width: 900px) {
    .services__terms {
      padding: 0 13rem;
      font-size: 1.5rem; } }

.services__card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5rem;
  margin: 1rem 0;
  border: 2px solid grey;
  max-width: 30rem; }
  @media only screen and (min-width: 900px) {
    .services__card {
      text-align: center;
      margin: 1rem;
      padding: 3rem; } }

.services__card--title {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 2rem 0; }
  @media only screen and (min-width: 900px) {
    .services__card--title {
      font-size: 1.75rem; } }

.services__card--info,
.services__card--prices {
  font-weight: 300;
  font-size: 1rem; }
  @media only screen and (min-width: 900px) {
    .services__card--info,
    .services__card--prices {
      font-size: 1.25rem; } }

.services__card--prices {
  text-transform: lowercase; }
  @media only screen and (min-width: 900px) {
    .services__card--prices {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 0 4rem; } }

.services__card--sizes__container {
  font-weight: 300;
  display: flex;
  flex-direction: column;
  margin: 0; }
  @media only screen and (min-width: 900px) {
    .services__card--sizes__container {
      flex-direction: row; } }

.services__card--sizes__title {
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  margin: 3rem 0 1rem;
  text-transform: uppercase; }

.services__card--sizes {
  font-size: 1rem; }
  @media only screen and (min-width: 900px) {
    .services__card--sizes {
      margin: 0 1rem; } }

.card__icon {
  margin-top: 1rem;
  width: 3rem; }
  @media only screen and (min-width: 900px) {
    .card__icon {
      width: 4rem;
      margin-bottom: 2rem; } }

.gallery {
  text-align: center; }

.container {
  padding: 3rem 0;
  background: #f4f4f4; }
  @media only screen and (min-width: 800px) {
    .container {
      padding: 3rem 5rem 5rem;
      padding: 3rem; } }

.gallery-set {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); }

.img__container {
  display: inline-flex;
  max-width: 130px;
  max-height: 145px;
  margin: 0.5rem;
  cursor: pointer;
  overflow: hidden; }
  @media only screen and (min-width: 500px) {
    .img__container {
      max-width: 180px;
      max-height: 200px; } }

.gallery__modal-full-img {
  position: absolute;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  transition: all 0.25s ease-out; }

.gallery__modal-full-img.open  {
  transform: translate(-50%, -50%) scale(1); }

.gallery__modal {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.gallery__modal.open {
  opacity: 1;
  pointer-events: all; }

.arrow-right,
.arrow-left {
  width: 5rem;
  border: 2px solid red; }

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-copy); }

.contact__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5rem; }

.contact__form--info {
  font-family: var(--font-copy);
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
  margin: 3rem 0;
  max-width: 475px; }
  @media only screen and (min-width: 900px) {
    .contact__form--info {
      margin: 0 3rem 5rem; } }

.contact__img {
  width: 18rem;
  height: 18rem;
  margin-bottom: 3rem; }
  @media only screen and (min-width: 900px) {
    .contact__img {
      width: 29rem;
      height: 29rem;
      margin: 0; } }

.contact__form {
  font-weight: 300;
  letter-spacing: 0.1rem;
  border: none;
  width: 500px;
  padding: 1.25rem 0;
  max-width: calc(100vw - 40px);
  position: relative;
  text-transform: uppercase; }
  @media only screen and (min-width: 900px) {
    .contact__form {
      margin-left: 4rem; } }

.contact__required {
  font-size: 0.7rem;
  text-transform: lowercase; }

fieldset {
  border: none; }

input {
  width: 100%;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
  margin-bottom: 1rem;
  font-size: 1rem; }

input:focus {
  border-bottom: 2px solid #78788c; }

.form__btn {
  float: right;
  border: 1px solid var(--color-very-dark-blue);
  padding: 1rem 1.5rem;
  background: transparent;
  margin: 8px 0 0;
  background: 0;
  color: inherit;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s; }

.form__btn:hover {
  background: var(--color-very-dark-blue);
  color: var(--color-white); }

.message-input {
  border: 2px solid #bebed2;
  width: 100%;
  height: 9rem;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 1rem; }

.location__container {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center; }

.location__text {
  font-family: var(--font-copy);
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
  max-width: 30ch; }
  @media only screen and (min-width: 900px) {
    .location__text {
      font-size: 1.5rem; } }

.location__address {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-align: center; }
  @media only screen and (min-width: 900px) {
    .location__address {
      text-align: left; } }

.location__parking {
  font-size: 1rem; }

.location__map-wrap {
  max-width: 80%; }

.location__map {
  margin-top: 3rem; }
  @media only screen and (min-width: 700px) {
    .location__map {
      margin-top: 0;
      height: 20rem;
      width: 30rem; } }
  @media only screen and (min-width: 900px) {
    .location__map {
      margin-top: 0;
      height: 30rem;
      width: 40rem; } }

.faq {
  padding: 2rem;
  margin: 0 auto;
  align-items: center; }
  @media only screen and (min-width: 900px) {
    .faq {
      max-width: 50vw;
      padding: 0; } }

.faq__container {
  width: 100%;
  font-family: var(--font-copy);
  color: var(--color-very-dark-blue);
  text-align: center;
  margin-bottom: 5rem; }
  @media only screen and (min-width: 900px) {
    .faq__container {
      margin-bottom: 10rem; } }

.faq__block {
  margin: 0 0 1.5rem; }

.faq__heading {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
  list-style: none; }
  @media only screen and (min-width: 900px) {
    .faq__heading {
      font-size: 1.5rem; } }

.faq__heading,
.faq__question,
.faq__answer {
  font-family: var(--font-copy);
  font-weight: 300; }

.faq__question {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-align: left; }
  @media only screen and (min-width: 900px) {
    .faq__question {
      font-size: 1.5rem; } }

.faq__answer {
  font-size: 0.875rem;
  margin-bottom: 3rem;
  text-align: left; }

.faq__block[open] .faq__heading {
  animation: sweep .5s ease-in-out; }

.terms {
  margin-top: 2rem; }

footer {
  text-align: center;
  padding: 1rem;
  font-weight: 300;
  font-size: 0.875rem;
  font-family: var(--font-copy);
  color: var(--color-very-dark-blue); }

.attribution {
  font-size: 0.5rem;
  color: var(--color-attribution-grey); }
