/*---------------------------
 ** CSS Reset
-----------------------------*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0; }

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth; }

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

a {
  list-style: none;
  text-decoration: none;
  color: inherit; }

/* Make images easier to work with */
img,
picture {
  display: block;
  max-width: 100%; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto; }
  *,
  *::before,
  *::after {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important; } }

:root {
  --color-white: #FFFFFF;
  --color-very-dark-blue: #202040;
  --color-box-shadow: 3px 4px 15px rgb(228, 228, 228);
  --font-heading: 'Flamenco', cursive;
  --font-copy: 'Josefin Sans', sans-serif; }

body {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center; }

h1,
h2,
h3,
h4,
h5,
h6,
.navbar__item {
  font-family: var(--font-heading); }

blockquote {
  font-family: var(--font-copy); }

.content__wrapper {
  width: 100%;
  max-width: 1500px; }

.section {
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.section__heading {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin-bottom: 3rem; }
  @media only screen and (min-width: 900px) {
    .section__heading {
      font-size: 2rem;
      letter-spacing: 0.3rem;
      margin: 7rem auto; } }

.section__sub-heading {
  font-family: var(--font-copy);
  font-size: 1rem;
  font-weight: 400; }
  @media only screen and (min-width: 900px) {
    .section__sub-heading {
      font-size: 1.3rem;
      padding: 0 15rem; } }

.btn {
  display: inline-block;
  font-family: var(--font-copy);
  font-weight: 500;
  font-size: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  max-width: 10rem;
  border: 2px solid var(--color-very-dark-blue);
  padding: 0.5rem 1rem;
  background: transparent; }
  @media only screen and (min-width: 900px) {
    .btn {
      font-size: 0.75rem;
      padding: 1rem 2rem; } }

.btn:hover {
  background-color: var(--color-very-dark-blue);
  color: var(--color-white);
  transition: transform 200ms ease; }

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--color-white);
  padding: 0.5rem 2rem; }

.logo {
  width: 3.5rem; }

.navbar__modal {
  display: none; }

.navbar__modal.active {
  text-align: center;
  line-height: 3;
  font-size: 1.5rem;
  position: absolute;
  top: 3.2rem;
  right: 0;
  width: 100%;
  background-color: var(--color-white);
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  z-index: 5; }

.navbar__link {
  text-transform: uppercase;
  letter-spacing: 0.5rem; }

.navbar__link:hover {
  text-decoration: underline; }

.toggle-box {
  color: black;
  background-color: transparent;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  float: right; }

.menu-bar {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: var(--color-very-dark-blue);
  transition: transform 200ms ease; }

.menu-bar::before,
.menu-bar::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: inherit;
  width: inherit;
  height: inherit;
  transition: top 200ms ease 0.12s, transform 200ms ease; }

.menu-bar::before {
  top: -6px; }

.menu-bar::after {
  top: 6px; }

.toggle-box.open .menu-bar {
  transform: rotate(45deg);
  transition: transform 200ms 0.12s ease; }

.toggle-box.open .menu-bar::before {
  top: 0;
  transition: top 200ms ease; }

.toggle-box.open .menu-bar::after {
  top: 0;
  transform: rotate(-90deg);
  transition: top 200ms ease, transform 200ms ease 0.12s; }

@media only screen and (min-width: 900px) {
  .navbar {
    padding: 1rem 3rem; }
  .logo {
    width: 5rem; }
  .navbar__modal.active {
    font-size: 2rem;
    padding: 5rem;
    top: 5.5rem;
    width: 100%; }
  .toggle-box {
    width: 40px;
    height: 40px; }
  .menu-bar {
    height: 4px; }
  .menu-bar::before {
    top: -8px; }
  .menu-bar::after {
    top: 8px; } }

.hero {
  width: 100%;
  min-height: 100vh;
  background-image: url(/assets/dog_thinkingLG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: 0% 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem; }

.hero__content {
  text-align: left;
  color: var(--color-very-dark-blue); }

.hero__heading {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-family: var(--font-heading);
  max-width: 19ch; }

.hero__sub-heading {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-weight: 400; }

@media only screen and (min-width: 900px) {
  .hero {
    padding: 5rem;
    background-position: 60% 50%;
    justify-content: flex-end; }
  .hero__content {
    text-align: right;
    margin-bottom: 5rem;
    padding-left: 5rem; }
  .hero__heading {
    font-size: 3rem;
    letter-spacing: 0.4rem; }
  .hero__sub-heading {
    font-size: 1.875rem;
    margin-bottom: 4rem; } }

.testimonials__wrapper {
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.testimonial__card {
  font-family: var(--font-copy);
  border-radius: 0.5rem;
  box-shadow: var(--color-box-shadow);
  max-width: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  margin: 5rem 1rem;
  background-image: url(/assets/paws.png);
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: top 1vh right 1vw; }

.testimonial__img {
  width: 7.25rem;
  border-radius: 50%;
  margin-top: -5.2rem; }

.testimonial__dog-name {
  font-family: var(--font-copy);
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 2rem 0 0; }

.testimonial__dog-breed {
  margin-top: 0.2rem;
  font-size: 0.875rem;
  color: #949494;
  margin-bottom: 2rem;
  text-transform: lowercase;
  letter-spacing: 0.05rem; }

.testimonial__quote {
  font-weight: 300;
  margin-bottom: 1rem; }

.testimonial__owner {
  font-weight: 300;
  justify-self: flex-end; }

@media only screen and (min-width: 900px) {
  .testimonial__img {
    width: 10rem;
    margin-top: -7rem; } }

.services__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: var(--font-copy);
  letter-spacing: 0.1rem; }

.services__inner--container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 900px) {
    .services__inner--container {
      margin-top: 7rem;
      flex-direction: row;
      align-content: space-between; } }

.services__card--container {
  max-width: 40rem; }
  @media only screen and (min-width: 900px) {
    .services__card--container {
      margin-left: 5rem; } }

.services__heading {
  font-size: 1.125rem; }

.services__terms {
  margin-top: 3rem;
  font-size: 1rem;
  font-weight: 300; }
  @media only screen and (min-width: 900px) {
    .services__terms {
      padding: 0 13rem;
      font-size: 1rem; } }

.services__card {
  padding: 1.5rem; }
  @media only screen and (min-width: 900px) {
    .services__card {
      text-align: left;
      margin: 0 0 1.3rem;
      box-shadow: none;
      padding: 0 1.5rem; } }

.services__card--title {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem; }
  @media only screen and (min-width: 900px) {
    .services__card--title {
      margin: 0; } }

.services__card--info,
.services__card--prices {
  font-weight: 300; }

.services__card--info {
  margin: 2rem auto; }
  @media only screen and (min-width: 900px) {
    .services__card--info {
      margin: 0.5rem 0 0; } }

.services__card--prices {
  font-size: 1rem;
  text-transform: lowercase; }
  @media only screen and (min-width: 900px) {
    .services__card--prices {
      display: flex;
      flex-direction: row; } }

.services__card--sizes {
  margin: 2rem 0;
  font-size: 0.6rem; }
  @media only screen and (min-width: 900px) {
    .services__card--sizes {
      margin: 3rem 0 4rem; } }

@media only screen and (min-width: 900px) {
  .services__card--prices li {
    margin-right: 1rem; } }

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 30px;
  font-family: var(--font-copy); }

.contact__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.contact__form--info {
  font-family: var(--font-copy);
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
  margin: 3rem 0;
  max-width: 475px; }
  @media only screen and (min-width: 900px) {
    .contact__form--info {
      margin: 0 3rem 5rem; } }

.contact__img {
  width: 18rem;
  height: 18rem;
  margin: 0; }
  @media only screen and (min-width: 900px) {
    .contact__img {
      width: 29rem;
      height: 29rem; } }

.contact__form {
  font-weight: 300;
  letter-spacing: 0.1rem;
  border: none;
  width: 500px;
  padding: 1.25rem 0;
  max-width: calc(100vw - 40px);
  position: relative; }
  @media only screen and (min-width: 900px) {
    .contact__form {
      margin-left: 4rem; } }

.contact__required {
  font-size: 0.875rem; }

fieldset {
  border: none; }

input {
  width: 100%;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
  margin-bottom: 1rem; }

input:focus {
  border-bottom: 2px solid #78788c; }

.form__btn {
  float: right;
  border: 1px solid var(--color-very-dark-blue);
  padding: 1rem 1.5rem;
  background: transparent;
  margin: 8px 0 0;
  background: 0;
  color: inherit;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s; }

.form__btn:hover {
  background: var(--color-very-dark-blue);
  color: var(--color-white); }

.message-input {
  border: 2px solid #bebed2;
  height: 10rem;
  word-wrap: break-word;
  word-break: break-all; }

.location__container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%; }
  @media only screen and (min-width: 900px) {
    .location__container {
      flex-direction: row;
      margin: 0; } }

.location__text {
  font-family: var(--font-copy);
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
  max-width: 30ch; }
  @media only screen and (min-width: 900px) {
    .location__text {
      font-size: 1.5rem; } }

.location__address {
  margin: 2rem 0;
  font-size: 1.2rem;
  text-align: center; }
  @media only screen and (min-width: 900px) {
    .location__address {
      text-align: left; } }

.location__parking {
  font-size: 0.875rem; }

.location__map {
  height: 15rem;
  width: 100%;
  margin-top: 3rem; }
  @media only screen and (min-width: 900px) {
    .location__map {
      margin-left: 7rem;
      margin-top: 0; } }
