body {
    background-color: var(--color-white);
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar__item {
    font-family: var(--font-heading)
}

blockquote {
    font-family: var(--font-copy);
}

.content__wrapper {
    width: 100%;
}

// Section paddings & margins

