.hero {
  width: 100%;
  min-height: 100vh;
  background-image: url(/assets/dog_thinkingLG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: 3% 50%;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 1rem;

  @media only screen and (min-width: 800px) {
    background-position: 0% 50%;
  }

  @media only screen and (min-width: 1200px) {
    padding: 5rem;
    background-position: 60% 50%;
    justify-content: flex-end;
  }
}

.hero__content {
  text-align: left;
  color: var(--color-very-dark-blue);

  @media only screen and (min-width: 1200px) {
    text-align: right;
    margin-bottom: 5rem;
    padding-left: 5rem;
  }
}

.hero__heading {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-family: var(--font-copy);
  font-weight: 300;
  max-width: 19ch;

  @media only screen and (min-width: 1200px) {
    font-size: 3rem;
    letter-spacing: 0.4rem;
  }
}

.hero__sub-heading {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-weight: 300;
  font-family: var(--font-copy);

  @media only screen and (min-width: 1200px) {
    font-size: 1.875rem;
    margin-bottom: 4rem;
  }
}
