.location__container {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.location__text {
  font-family: var(--font-copy);
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
  max-width: 30ch;
  @media only screen and (min-width: 900px) {
    font-size: 1.5rem;
  }
}

.location__address {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-align: center;
  @media only screen and (min-width: 900px) {
    text-align: left;
  }
}

.location__parking {
  font-size: 1rem;
}

.location__map-wrap {
  max-width: 80%;
}

.location__map {
  max-width: 15rem;
  max-height: 10rem;
  margin-top: 3rem;

  @media only screen and (min-width: 700px) {
    margin-top: 0;
    height: 20rem;
    width: 30rem;
  }

  @media only screen and (min-width: 900px) {
    margin-top: 0;
    height: 30rem;
    width: 40rem;
  }
}
