.location__container {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  @media only screen and (min-width: 900px) {
    flex-direction: row;
    gap: 5rem;
  }
}

.location__text {
  font-family: var(--font-copy);
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
  max-width: 30ch;
  @media only screen and (min-width: 900px) {
    font-size: 1.5rem;
  }
}

.location__address {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-align: center;
  @media only screen and (min-width: 900px) {
    text-align: left;
  }
}

.location__parking {
  font-size: 1rem;
}

.location__map {
  height: 15rem;
  width: 100%;
  margin-top: 3rem;

  @media only screen and (min-width: 900px) {
    // margin-left: 7rem;
    margin-top: 0;
  }
}
