:root {
    --color-white: #FFFFFF;
    --color-very-dark-blue: #202040;
    --coor-box-shadow: 3px 4px 15px rgb(228, 228, 228);

    --font-heading: 'Flamenco', cursive;
    --font-copy: 'Josefin Sans', sans-serif;
}